
/* Ici je crée une feuille de style principale (main-style.css)  permettant de mutualiser les différentes feuilles 
de styles du site permettant ainsi de faciliter la maintenance, la correction et/ou l'évolution de chacune des pages
du site */

@import url("royal-family.css");
@import url("contact.css");
@import url("index.css");
@import url("assets.css");
@import url("page-cible.css");

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin : 70px auto 0 0;
}

header {
    background: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    top : 0;
    border-bottom : 1.5px solid blue;
    box-shadow: -1px 8px 10px #6A6DEF;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 10px;
    border-left : 1px solid gray;
    padding : 0 15px;
}

nav ul li a {
    font-size: 0.9em;
    color: #181818;
    text-decoration: none;
}

nav ul li a:hover {
    color: #6A6DEF;
    border-bottom: 1.5px solid blue;
}

#logo img {
    width: 125px;
    height: 65px;
    margin-left: 25px;
}

#corps-de-page {
    padding : 25px;
}

footer {
    background:  #1C2833;
    padding-top:  25px;
    color : white;
    height: 200px;
}

#reseaux-sociaux {
    display: flex;
    background:  #1c2833;
    justify-content: center;
    column-gap: 20px;;
    align-items: center;
    height: 200px;
}

#reseaux-sociaux p {
    background-color: #fff;
    padding : 2px 5px;
    color : #fff;
    font-size: 25px;
    border-radius: 10px;
}

#reseaux-sociaux a {
    color : #6A6DEF;
}


@media screen and (max-width : 920px) {
    #reseaux-sociaux {
        display: flex;
        background:#1c2833;
        justify-content: space-evenly;
        align-items: center;
        height: 200px;
    }
    header #logo {
      display: none;
      background-color: red;
    }

}