
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

body {
    font-family: Roboto, Arial, sans-serif;
    margin : 70px auto 0 0;
    line-height: 35px;
}

header {
    background: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    top : 0;
    border-bottom : 1.5px solid blue;
    box-shadow: -1px 8px 10px #6A6DEF;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin-right: 10px;
    border-left : 1px solid gray;
    padding : 0 15px;
}

header nav ul li a {
    font-size: 0.9em;
    color: #181818;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #6A6DEF;
    border-bottom: 1.5px solid blue;
}

#div-logo img {
    width: 125px;
    height: 65px;
    margin-left: 25px;
}

#corps-de-page {
    padding : 35px;
    margin-bottom: 200px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left:0;
    background:#1C2833;
    color : white;
    padding: 20px;
}

#reseaux-sociaux {
    display: flex;
    background:#1c2833;
    justify-content: center;
    column-gap: 20px;
  
}

#reseaux-sociaux p a {
    background-color: #fff;
    padding : 2px 5px;
    color : black;
    font-size: 25px;
    border-radius: 10px;
}

#reseaux-sociaux a {
    color : #6A6DEF;
}

table, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
    padding: 5px 15px;
}

#section-tableau h2 {
    margin-left : 330px;
    font-size: 18px;
}

table {
    margin-left : auto;
    margin-right : auto;
}

#corps-de-page > h2 {
    text-align: left;
    font-size: 18px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}
  
tbody tr:nth-child(even) {
    background-color: #AEB6BF;
}
  
table {
    background-color: #6A6DEF;
}

form {
    margin : 0 auto;
    width: 45%;
}

.champs-formulaire {
    display: flex;
    flex-direction: column;
    row-gap : 15px;
    align-items: center;
}

.champ-item {
    display: flex;
    flex-direction: column;
    row-gap : 1px;
}

.titre-formulaire {
    font-size: 18px;
    padding-left: 40px;
}

.champ-item textarea {
    resize: none;
    margin-top : -2px;
}

.champ-item input, .champ-item textarea {
    background-color: rgb(235, 230, 230);
    width: 350px;
    padding : 8px;
}

#btn-submit {
    margin-left: 300px;
    width: 70px;
    box-shadow: 3px 3px 3px #000;
}

#btn-submit:hover {
    background-color: #6A6DEF;
    color : #fff;
    font-weight: bold;
}

.welcome-image {
    width: 100%;
    height: 300px;
    margin-top : 50px;
}

.p-welcome {
    text-align: justify;
}

#message-confirm {
    width: 400px;
    font-size: 1em;
    margin : 0 auto;
    padding : 2px;
    text-align: center;
    color : #fff;
    background-color: green;
}

#message-confirm a {
    text-decoration: none;
    color : #000;
    font-size: 15px;
}

#family {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#family img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#family p {
    text-align: center;
}

/*
J'ai laissé ce commentaire sur toute la partie design responsive, 
j'ai pas aller jusqu'au bout car je n'ai pas encore bien cerné ce sujet.
En attendant je continue mes recherches pour mieux comprendre la mise en oeuvre

@media all and (max-width : 960px) {
    .p-welcome {
        font-size: 0.6em;
    }

    #corps-de-page {
        margin-top : 50px;
    }

    #div-logo {
      display: none;
      background-color: red;
    }

    header nav ul {
        flex-direction: column;
        justify-content: center;
        margin-bottom : 15px;
    }

    header nav ul li {
        margin-right: 0px;
        border-left : none;
        padding : 0 15px;
    }
    #family {
        flex-wrap: wrap;
        flex-direction: column;
    }
}
*/